/*Add CSS styling below*/
body {
	width: 800px;
	font-family: Verdana;
}

header {
	height: 100px;
	background-color: #009999;
	color: white;
}

footer {
	background-color: #FFD073;
	height: 60px;
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
	padding-top: 5px;
	margin-top: 0;
	margin-bottom: 5px;
}

footer p {
	font-size: 12px;
	color: #A64B00;
	margin: 0;
	padding-top: 5px;
}

nav {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	background-color: #FFD073;
	margin: 0 20px 10px 0;
	float: left;
}

nav ul {
	margin: 0;
	padding: 10px;
}

nav li {
	list-style: none;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

nav a{
	color: #A64B00
}

.main {
	padding: 10px;
	background-color: #006363;
}

h2 {
	font-size: 20px;
	margin: 0px;
	padding: 10px;
	color: #FFAA00
}

.main p {
	font-size: 14px;
	color: white;
}

.clearfloat {
	clear: both;
}


/* Alec Ramos
    Period 4*\